<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Exemplo1</servlet-name>
        <servlet-class>Exemplo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exemplo2</servlet-name>
        <servlet-class>Exemplo2</servlet-class>
        <init-param>
            <param-name>urlBD</param-name>
            <param-value>jdbc:mysql://localhost:3306/bd</param-value>
        </init-param>
        <init-param>
            <param-name>driver</param-name>
            <param-value>xxxx</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Exemplo4</servlet-name>
        <servlet-class>Exemplo4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exemplo5</servlet-name>
        <servlet-class>Exemplo5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exemplo6</servlet-name>
        <servlet-class>Exemplo6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exemplo1</servlet-name>
        <url-pattern>/Exemplo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exemplo2</servlet-name>
        <url-pattern>/Exemplo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exemplo4</servlet-name>
        <url-pattern>/Exemplo4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exemplo5</servlet-name>
        <url-pattern>/Exemplo5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exemplo6</servlet-name>
        <url-pattern>/Exemplo6</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
